/* index.css */

/* Réinitialisation des styles par défaut pour un rendu cohérent entre les navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Définir une police par défaut */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
  }
  
  /* Style global de l'application */
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  